@font-face{
    font-family: Westwood-Studio;
    src: url(../fonts/Westwood-Studio.ttf);
}


.footerPage{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a6a4a4;
}

.tituloFooter{
    font-size: 3rem;
    font-family: Westwood-Studio;
    margin-top: 10px;
    color: black;
    font-weight: bold;
}

.componetesFooter{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    
}

.titleCom{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: lighter;
}

.apartadoFooter{
    padding: 10px;
    margin: 10px;
    width: 100%;
}

.rayaF{
    border: 1px solid rgba(0, 0, 0, 0.65);
    height: 1px;
    width: 100%;
    margin-bottom: 5px;
}

.iconosRS{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 2.5rem;
}